{{ define "title" }}
{{ .Title }} | {{ .Site.Title }}
{{ end }}
{{ define "pagetitle" }}
{{ .Title }}
{{ end }}
{{ define "main" }}
<div class="photo"><img src="{{ .Params.img }}" class="photo" /></div>
{{ if .Params.camera }}
<p class="camera"><i class="fas fa-camera-retro"></i> {{ .Params.camera }}{{ if .Params.film }}, with {{ .Params.film }}{{ end }}</p>
{{ end }}
{{ .Content }}
<div class="pagination">
  <p>{{ if .NextInSection }}
  <a href="{{ .NextInSection.Permalink }}"><i class="fas fa-arrow-left"></i> {{ .NextInSection.Title }}</a>
  {{ end }}</p>
  <p class="back"><a href="/photos/"><i class="fas fa-undo"></i> Go back</a></p>
  <p>{{ if .PrevInSection }}
  <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }} <i class="fas fa-arrow-right"></i></a>
  {{ end }}</p>
</div>
{{ end }}
