<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main class="home">
          <section class="whoami">
            <h2>Who am I?</h2>
            <p>My name is <strong>Nicolas</strong>.</p>
            <p>I am a <strong>builder</strong> and <strong>tinkerer</strong> who likes to play around with computer stuff.</p>
          </section>
          <section class="findme">
            <ul class="contact">
              <li><a href="https://github.com/nmoutschen"><i class="fab fa-github"></i></a></li><li><a href="https://www.linkedin.com/in/nicolas-moutschen-6906a337/"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </section>
        </main>
    </body>
</html>
