<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  {{- partial "head.html" . -}}
</head>
<body class="page-home">
  <nav id="nav">
    <header>
      <h1><a href="{{ .Site.BaseURL }}">nmtsn.me</a></h1>
      <div class="nav-button"><a href="javascript:void(0)" onclick="toggleNav()"><i class="fas fa-times"></i></a></div>
    </header>
    <ul>
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </nav>
  <main>
    <header>
      <h1><a href="{{ .Site.BaseURL }}">nmtsn.me</a></h1>
      <div class="nav-button"><a href="javascript:void(0)" onclick="toggleNav()"><i class="fas fa-bars"></i></a></div>
    </header>
    <noscript class="alert"><p>You have disabled Javascript on this website. Weird thing may happen.</p></noscript>
    {{- block "main" . }}{{- end }}
  </main>
</body>
</html>
