<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  {{- partial "head.html" . -}}
</head>
<body>
  <header>
    <h1><a href="{{ .Site.BaseURL }}">nmtsn.me</a></h1>
    <h2>{{- block "pagetitle" . }}{{- end }}</h2>
  </header>
  <main{{- block "pageclass" . }}{{- end}}>{{- block "main" . }}{{- end }}</main>
  <nav>
    <ul class="links">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <ul class="social">
      {{ range .Site.Menus.social }}
      <li><a href="{{ .URL }}">{{ .Pre }}<span class="hidden">{{ .Name }}</span></a></li>
      {{ end }}
    </ul>
  </nav>
</body>
</html>
