/* DEFAULTS */
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Open Sans", Helvetica, sans;
  height: 100%;
  background-color: #474747;
  color: #2e2e2e;
}

a {
  text-decoration: none;
  color: #AD343E;
  font-weight: 600;
}
a:hover {
  color: #2e2e2e;
}

h1, strong {
  font-weight: 600;
}

h2, h3 {
  font-weight: 300;
}

header {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
  margin: 0px;
}
h1 a {
  color: #2e2e2e;
  text-decoration: none;
}
h1 a:hover {
  color: #474747;
}

p {
  font-size: 14px;
}

.nav-button a {
  font-size: 30px;
  color: #2e2e2e;
}

nav {
  display: none;
  position: fixed;
  height: 100%;
  z-index: 1;
  width: 100%;
  background-color: #474747;
}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

nav ul a {
  display: inline-block;
  color: #F4F4F4;
  text-decoration: none;
  font-size: 24px;
  padding-bottom: 12px;
  font-weight: 300;
}
nav ul a:hover {
  color: #F2AF29;
}

nav .nav-button a {
  color: #f4f4f4;
}
nav h1 a {
  color: #f4f4f4;
}
nav h1 a:hover {
  color: #F2AF29;
}

main ul.contacts {
  display: flex;
  justify-content: center;
  list-style: none;
}
main ul.contacts li {
  display: inline-block;
  padding: 0px 6px;
  font-size: 24px;
}

main {
  background-color: #F2AF29;
  border-bottom: 60px solid #474747;
}

main > *, nav > * {
  padding: 14px 30px 26px 30px;
  margin: 0px;
}
main > *:last-child, nav > *:last-child {
  padding: 14px 30px 30px 30px;
}
main > *:first-child, nav > *:first-child {
  padding: 30px 30px 26px 30px;
}

canvas {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 400px) {
  main {
    min-height: 50%;
  }

  main > *, nav > * {
    padding: 14px 60px 26px 60px;
  }
  main > *:last-child, nav > *:last-child {
    padding: 14px 60px 60px 60px;
  }
  main > *:first-child, nav > *:first-child {
    padding: 30px 60px 26px 60px;
  }
}

@media only screen and (min-width: 780px) {
  body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: auto;
  }

  nav {
    display: block;
    position: relative;
    width: 25%;
    height: 50%;
    max-width: 256px;
    max-height: 512px;
    border-bottom: 1px solid #F2AF29;
    border-right: 1px solid #F2AF29;
  }
  nav header {
    display: none;
  }
  nav > *:last-child {
    padding: 60px;
  }

  main {
    width: 50%;
    height: 100%;
    max-width: 512px;
    border-bottom: 0px;
  }

  main p {
    font-size: 18px;
  }

  .nav-button {
    display: none;
  }
}

main .alert {
  display: block;
  background-color: #AD343E;
  color: #f4f4f4;
  padding-top: 26px;
}

main .alert a {
  color: #ffffff;
}
