$color-text: #2C0703;
$color-primary: #FFA552;
$color-secondary: #FCDEBE;
$color-background: #FDFBFA;
$color-background-alt: #8D7471;

$font-family: "Work Sans", sans-serif;

body {
  background-color: $color-background;
  color: $color-text;
  margin: 0px;
  font-family: $font-family;
  font-size: 16px;
  font-weight: 200;
}

a {
  color: $color-primary;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    color: $color-text;
  }
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

header {
  h1 {
    margin: 0px;
    a {
      display: block;
      width: 150px;
      height: 150px;
      background-image: url("/img/logo.png");
      background-size: 150px 150px;
      margin: 60px auto 20px auto;
      text-indent: 100%;
      overflow: hidden;
    }
  }

  h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 32px;
    a {
      color: $color-text;
    }
  }
}

main {
  max-width: 688px;
  margin: 0px 20px;

  @media screen and (min-width: 728px) {
    margin: 0px auto;
  }

  p {
    margin: 10px 0px;
  }

  img {
    width: 100%;
    max-width: 688px;
    box-sizing: border-box;
    border: 5px solid #ffffff;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    margin: 10px 0px;
  }
  div.photo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: auto;
      max-height: 688px;
    }
  }

  hr {
    margin: 30px auto 20px auto;
    max-width: 50%;
    border: 0px;
    height: 0px;
    background-color: $color-background;
  }

  .articles {
    @media screen and (min-width: 728px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      article {
        flex: 0 324px;
        img.photo {
          object-fit: cover;
          height: 324px;
        }
      }
    }
  }
}
body.home main p {
  font-size: 32px;
  text-align: center;
}

nav {
  position: relative;
  background-color: $color-background-alt;
  margin-top: 60px;
  text-align: center;
  box-shadow: 0 100vh 0 100vh $color-background-alt;

  ul {
    list-style: none;
    margin: 0px;
  }

  .links {
    padding: 80px 0px 0px 0px;
  }
  .social {
    padding: 10px 0px 40px 0px;
    li {
      display: inline;
    }
    a {
      color: $color-secondary;
      &:hover {
        color: $color-text;
      }
    }
  }
  a {
    display: inline-block;
    color: $color-background;
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
  }

  &:before {
    position: absolute;
  content: '';
    width: 0;
    height: 0;
    top: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-top: 30px solid $color-background;
    margin-left: -60px;
  }
}

.hidden {
  display: none;
}
